

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(222, 248, 222);
    width: 100%;
}

.log{
width: 30vh;
height: auto;
padding-right: 20px;
background-image: url(css/img/logo.png);
background-color: white;
padding-left: 10px;

}

/*.logImg{
    width: 30vh;
}*/

h1{
    font-size: 50px;
    color: black;
    
}

nav{
    width: 50%;
}


.navbar{
    list-style: none;   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20px;
    text-align: left;
}

.bg-dark{
    background-color:rgb(222, 248, 222) !important;
}

.navbar-dark .navbar-brand{
    color: black;
}

.navbar-dark .navbar-nav .nav-link{
color: black;
}

a{
    text-decoration: none;
    color: darkslateblue;
}

@media only screen and (max-width:576px) {
    header{
        padding-right: 30px ;
        padding-left: 30px;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(255, 234, 115);
        width: 100%;
    }
    .log{
        width: 30vh;
        padding-right: 20px;
    }
}