.prod{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;

    /*display: grid;*/
}

@each $planta in pot , lav , bamb {
    .#{$planta}Imgg{
        border: 2px solid cornsilk;
        width: 40vh;
        height: auto;
        padding: 10px 50px 10px 50px;
    }
}