.prod{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

@each $planta in pot , lav , bamb , ros , cala , aza {
    .#{$planta}Imgg{
        border: 2px solid cornsilk;
        width: 40vh;
        height: auto;
        padding: 10px 50px 10px 50px;
    }
}