.carro{
    width: 100%;
    margin: auto;
    
}
.carousel img{
    object-fit:contain;
    object-position: center;
    height: 60vh;
}

@media only screen and (max-width: 767px) {

    .carousel img{
        object-fit: contain;
        object-position: center;
        height: 40vh;
    }

}

@media only screen and (max-width: 360px) {
    .carousel img{
        object-fit: contain;
        object-position: center;
        height: 20vh;
    }

}